<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glowapps.vidify"
    android:installLocation="preferExternal"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:banner="@mipmap/logo"
        android:logo="@mipmap/logo"
        android:label="@string/app_name">

        <activity android:name=".TVActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/logo"
            android:logo="@mipmap/logo"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".VideoPlayerActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".misc.DetailViewActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".misc.QRCodeActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".misc.RemoveAdsActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>
